header {
  display: flex;
  /* background-color: gray; */
  align-items: center;
  justify-content: flex-end;
  align-items: flex-start;
  height: 20vh;
  position: relative;
  padding-right: 8vw;
}

/* Main navigation */
.main-nav,
.search-btn {
  display: none;
}

.menu-btn {
  color: white;
  font-size: 3.5rem;
  transform: translateY(25px);
}

/* Logo */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 800px) {
  header {
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 10vw;
  }

  .group-nav-search {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .main-nav,
  .search-btn {
    display: block;
  }

  .main-nav-list {
    display: flex;
    /* background-color: gray; */
    gap: 2em;
  }
  .logo {
    position: static;
    transform: translate(-0, 0);
  }

  .menu-btn {
    display: none;
  }

  .search-btn {
    font-size: 3rem;
    color: rgb(223, 223, 223);
  }
}
